/* ===== NAVBAR ===== */
.navbar {
    background: #fff !important; /* Fondo blanco */
    padding: 12px 0;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #eee; /* línea sutil abajo */
}

/* Logo + texto */
.navbar-brand {
    font-weight: 600;
    font-size: 1.2rem;
    color: #333 !important;
    display: flex;
    align-items: center;
}

.navbar-brand img {
   max-height: 100px; /* controla el alto */
   width: auto;      /* mantiene proporción */
}

/* Links */
.navbar-nav .nav-link {
    color: #333 !important;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s ease-in-out, border-bottom 0.3s;
    padding-bottom: 5px;
}

/* Hover effect */
.navbar-nav .nav-link:hover {
    color: #0d6efd !important; /* azul corporativo */
    border-bottom: 2px solid #0d6efd;
}

/* Active link */
.navbar-nav .nav-link.active {
    color: #0d6efd !important;
    border-bottom: 2px solid #0d6efd;
}

/* Botón hamburguesa */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
