<!-- Footer -->
<footer class="footer">

  <div class="footer-bottom"></div>

  <div class="footer-columns">
    <!-- Columna 1: Contacto -->
    <div class="footer-col">
      <h4>Contacto</h4>
      <p>Dirección: carrera 24 # 12 - 34</p>
      <p>Tel: +57 3112548496</p>
      <p>Email: techsolutions@gmail.com</p>
    </div>

    <!-- Columna 2: Features -->
    <div class="footer-col">
      <h4>Features</h4>
      <ul>
        <li><a href="#">Core features</a></li>
        <li><a href="#">Pro experience</a></li>
        <li><a href="#">Integrations</a></li>
      </ul>
    </div>

    <!-- Columna 3: Learn more -->
    <div class="footer-col">
      <h4>Learn more</h4>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Case studies</a></li>
        <li><a href="#">Customer stories</a></li>
        <li><a href="#">Best practices</a></li>
      </ul>
    </div>

    <!-- Columna 4: Support + Redes -->
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Legal</a></li>
      </ul>
    </div>




  </div>
  <div class="social-icons">
    <a href="https://www.linkedin.com" target="_blank">
      <img src="assets/img/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <img src="assets/img/instagram.png" alt="Instagram">
    </a>
    <a href="https://twitter.com" target="_blank">
      <img src="assets/img/x.png" alt="Twitter">
    </a>
  </div>
  <p id="copyright">&copy; 2025 TechSolutions. Todos los derechos reservados.</p>
  </div>
</footer>